{% extends 'base.html' %}

{% block title %}Adopt{% endblock %}

{% block content %}

<div class="row">
{% for pet in pets[::-1] %}
<div class="col-12 col-sm-6 col-lg-4">
    <div class="card my-1">
        <img src="{{pet.photo_url}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{pet.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="fw-bold">{% if pet.available %}<span class="text-success">available</span>{% else %}<span class="text-danger">unavailable</span>{% endif %}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}

