{% extends 'base.html' %}

{% block title %}View/Edit Pet{% endblock %}

{% block content %}


<div class="row">
    <div class="col col-sm-3"><img class="img-fluid rounded" src="{{pet.photo_url}}" alt="pet-image"></div>
    <div class="col col-sm-9">
        <div class="h1">{{pet.name}}</div>
        <p>Species: {{pet.species}}</p>
        <p>Age: {% if pet.age %}{{pet.age}}{% else %}N/A{% endif %}</p>
    </div>
</div>

<h2 class="mt-5">Edit Pet</h2>



<form action="/{{pet.id}}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="mb-3">
        {{field.label(class_="form-label")}}
        {{field(class_="form-control")}}

        {% for err in field.errors %}
        <small class="form-text text-danger d-block">{{err}}</small>
        {% endfor %}

    </div>
    {% endfor %}
    <button class="btn btn-primary">Submit</button>
</form>


{% endblock %}